<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (2014-02-28 10:53)</string>
	<string>M3.2-1861-1</string>
	<string>T2.2 (1259)</string>
	<string>M3.2-1861-1</string>
	<string>T2.2 (1259)</string>
	<string>M3.2-1861-1</string>
	<string>M3.2.2-1878-1</string>
	<string>T2.4.2 (1373)</string>
	<string>M3.2.2-1878-1</string>
	<string>T2.4.2 (1373)</string>
	<string>T2.5 (1711)</string>
	<string>T2.5.2 (1722)</string>
	<string>M3.5.3-2150-2</string>
	<string>T2.5.4 (1759)</string>
	<string>T2.5.5 (1764)</string>
	<string>M3.5.3-2150-2</string>
	<string>T2.5.5 (1764)</string>
	<string>M3.5.3-2150-2</string>
	<string>T2.6 (2155)</string>
	<string>M3.6.1-2566-1</string>
	<string>T2.6.1 (2163)</string>
	<string>M3.6.1-2566-1</string>
	<string>T2.6.1 (2163)</string>
	<string>M3.6.1-2566-1</string>
	<string>T2.6.1 (2163)</string>
	<string>M3.6.1-2566-1</string>
	<string>T2.6.1 (2163)</string>
	<string>M3.6.1-2566-1</string>
	<string>T2.6.1 (2163)</string>
	<string>M3.6.1-2566-1</string>
	<string>T2.6.1 (2163)</string>
	<string>M3.6.1-2566-1</string>
	<string>T2.6.2 (2175)</string>
</array>
</plist>
