<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>local build-Oct 16 2012</string>
	<string>T1.7.2 (753)</string>
	<string>TX-v3.[2012-09-12].0 (Nov  9 2012)</string>
	<string>local build-Oct 16 2012</string>
	<string>M5.2.2-1877-1</string>
</array>
</plist>
